body{
    margin: 0;
    padding: 0;
    text-align: left;
}
.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20%;
    top: 80%;
    position: relative;
}
.progress-bar__container {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #313131;
    background-color: #313131;
}
.progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #F4CA16;
    top:0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
}
.global_text{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}